.vs
out/
CMakeSettings.json
Makefile
config.h
config.log
config.status
libtool
stamp-h1
include/Makefile
src/.deps
src/.libs
src/*.o
src/*.lo
src/*.la
CMakeFiles/
CMakeCache.txt
install_manifest.txt
cmake_install.cmake
libSAASound.pc
saasound_cmake_config.h
libSAASound.so*
libSAASound.dll*
