Debug/*
Release/*
Release-SSE/*
ReleaseWithSymbols/*
x64/*
unused/*
Backup*/*
.vs/*
SAASound/Debug/*
SAASound/Release/*
SAASound/Release-SSE/*
SAASound/ReleaseWithSymbols/*
SAASound/x64/*
SAASound/*.aps